In [1]:
import csv
import os
import pandas as pd
import matplotlib.pyplot as plt, mpld3
%matplotlib inline

c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:66: DeprecationWarning: metadata {'config': True} was set from the constructor.  Metadata should be set using the .tag() method, e.g., Int().tag(key1='value1', key2='value2')
  inline backend."""
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:71: DeprecationWarning: metadata {'config': True} was set from the constructor.  Metadata should be set using the .tag() method, e.g., Int().tag(key1='value1', key2='value2')
  'retina', 'jpeg', 'svg', 'pdf'.""")
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:85: DeprecationWarning: metadata {'config': True} was set from the constructor.  Metadata should be set using the .tag() method, e.g., Int().tag(key1='value1', key2='value2')
  use `figure_formats` instead)""")
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:95: DeprecationWarning: metadata {'config': True} was set from the constructor.  Metadata should be set using the .tag() method, e.g., Int().tag(key1='value1', key2='value2')
  """
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:114: DeprecationWarning: metadata {'config': True} was set from the constructor.  Metadata should be set using the .tag() method, e.g., Int().tag(key1='value1', key2='value2')
  """)
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\ipykernel\pylab\config.py:44: DeprecationWarning: InlineBackend._config_changed is deprecated: use @observe and @unobserve instead.
  def _config_changed(self, name, old, new):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\traitlets\traitlets.py:770: DeprecationWarning: A parent of InlineBackend._config_changed has adopted the new @observe(change) API
  clsname, change_or_name), DeprecationWarning)
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:98: DeprecationWarning: DisplayFormatter._formatters_default is deprecated: use @default decorator instead.
  def _formatters_default(self):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
c:\users\ss5399\appdata\local\programs\python\python35\lib\site-packages\IPython\core\formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):

In [4]:
#df=pd.read_csv("C:/Users/ss5399/Desktop/actual_data/Default_VoipUA.Normal.csv", low_memory = False)
df=pd.read_csv("C:/Users/ss5399/Desktop/actual_data/For Sahil - Logs/Default_VoipUA.Normal.csv", low_memory = False)
df

,Time,Out RTP Bits cu,Out RTP Packets cu,In RTP Bits cu,In RTP Packets cu,RTP Out of Sequence Packets cu,RTP Dropped Packets cu,RTP Duplicate Packets cu,Out Calls Attempted cu,Out Calls Established cu,...,SMS Out Messages Delivered cu,SMS Out Messages Failed cu,SMS Out Messages Acknowledged cu,SMS Messages Received cu,SMS Messages Accepted cu,SMS Acks Sent cu,SMS Acks Delivered cu,SMS Acks Failed cu,SMS Mean Time to Message Ack ms cu,SMS Mean Time to Ack Delivery ms cu
0,2016-07-05 13:54:19.898342-0700,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,2016-07-05 13:54:50.001597-0700,24512,162,23712,157,0,0,0,1,1,...,0,0,0,0,0,0,0,0,NaN,NaN
2,2016-07-05 13:55:20.001535-0700,264512,1662,263712,1657,0,0,0,1,1,...,0,0,0,0,0,0,0,0,NaN,NaN
3,2016-07-05 13:55:50.001505-0700,504512,3162,503712,3157,0,0,0,1,1,...,0,0,0,0,0,0,0,0,NaN,NaN
4,2016-07-05 13:56:20.001433-0700,744512,4662,743712,4657,0,0,0,1,1,...,0,0,0,0,0,0,0,0,NaN,NaN
5,2016-07-05 13:56:50.001506-0700,959392,6005,957952,5996,0,0,0,1,1,...,0,0,0,0,0,0,0,0,NaN,NaN
6,2016-07-05 13:57:20.001596-0700,975904,6117,973984,6105,0,0,0,2,2,...,0,0,0,0,0,0,0,0,NaN,NaN
7,2016-07-05 13:57:50.001505-0700,1215904,7617,1213984,7605,0,0,0,2,2,...,0,0,0,0,0,0,0,0,NaN,NaN
8,2016-07-05 13:58:20.001456-0700,1455904,9117,1453984,9105,0,0,0,2,2,...,0,0,0,0,0,0,0,0,NaN,NaN
9,2016-07-05 13:58:50.001539-0700,1695904,10617,1693824,10604,0,0,0,2,2,...,0,0,0,0,0,0,0,0,NaN,NaN
10,2016-07-05 13:59:20.001575-0700,1918784,12010,1915904,11992,0,0,0,2,2,...,0,0,0,0,0,0,0,0,NaN,NaN
11,2016-07-05 13:59:50.001477-0700,1936736,12131,1933216,12109,0,0,0,3,3,...,0,0,0,0,0,0,0,0,NaN,NaN
12,2016-07-05 14:00:20.001433-0700,2176736,13631,2173056,13608,0,0,0,3,3,...,0,0,0,0,0,0,0,0,NaN,NaN
13,2016-07-05 14:00:50.001505-0700,2416736,15131,2413056,15108,0,0,0,3,3,...,0,0,0,0,0,0,0,0,NaN,NaN
14,2016-07-05 14:01:20.001494-0700,2656736,16631,2653056,16608,0,0,0,3,3,...,0,0,0,0,0,0,0,0,NaN,NaN
15,2016-07-05 14:01:50.001581-0700,2878656,18018,2873536,17986,0,0,0,3,3,...,0,0,0,0,0,0,0,0,NaN,NaN
16,2016-07-05 14:02:20.001412-0700,2899168,18155,2893408,18119,0,0,0,4,4,...,0,0,0,0,0,0,0,0,NaN,NaN
17,2016-07-05 14:02:50.001435-0700,3139168,19655,3133408,19619,0,0,0,4,4,...,0,0,0,0,0,0,0,0,NaN,NaN
18,2016-07-05 14:03:20.001497-0700,3379168,21155,3373408,21119,0,0,0,4,4,...,0,0,0,0,0,0,0,0,NaN,NaN
19,2016-07-05 14:03:50.001450-0700,3619168,22655,3613408,22619,0,0,0,4,4,...,0,0,0,0,0,0,0,0,NaN,NaN
20,2016-07-05 14:04:20.001412-0700,3838048,24023,3831328,23981,0,0,0,4,4,...,0,0,0,0,0,0,0,0,NaN,NaN
21,2016-07-05 14:04:50.001459-0700,3860480,24172,3853120,24126,0,0,0,5,5,...,0,0,0,0,0,0,0,0,NaN,NaN
22,2016-07-05 14:05:20.001497-0700,4100480,25672,4093120,25626,0,0,0,5,5,...,0,0,0,0,0,0,0,0,NaN,NaN
23,2016-07-05 14:05:50.001453-0700,4340480,27172,4333120,27126,0,0,0,5,5,...,0,0,0,0,0,0,0,0,NaN,NaN
24,2016-07-05 14:06:20.001420-0700,4580480,28672,4573120,28626,0,0,0,5,5,...,0,0,0,0,0,0,0,0,NaN,NaN
25,2016-07-05 14:06:50.001456-0700,4797440,30028,4789280,29977,0,0,0,5,5,...,0,0,0,0,0,0,0,0,NaN,NaN
26,2016-07-05 14:07:20.001523-0700,4821792,30189,4812992,30134,0,0,0,6,6,...,0,0,0,0,0,0,0,0,NaN,NaN
27,2016-07-05 14:07:50.001451-0700,5061792,31689,5052992,31634,0,0,0,6,6,...,0,0,0,0,0,0,0,0,NaN,NaN
28,2016-07-05 14:08:20.001418-0700,5301792,33189,5292992,33134,0,0,0,6,6,...,0,0,0,0,0,0,0,0,NaN,NaN
29,2016-07-05 14:08:50.001430-0700,5541792,34689,5532992,34634,0,0,0,6,6,...,0,0,0,0,0,0,0,0,NaN,NaN
30,2016-07-05 14:09:20.001523-0700,5756832,36033,5747232,35973,0,0,0,6,6,...,0,0,0,0,0,0,0,0,NaN,NaN
31,2016-07-05 14:09:50.001452-0700,5756832,36033,5747232,35973,0,0,0,7,6,...,0,0,0,0,0,0,0,0,NaN,NaN

In [5]:
total_rows=int(round(len(df.axes[0])/2))
total_rows

16

In [28]:
df2 = df[['Out Calls Attempted cu', 'In Calls Established cu']]
df2

    Out Calls Attempted cu  In Calls Established cu
0                        0                        0
1                        0                        0
2                        0                        0
3                        5                        5
4                        5                        5
5                        5                        5
6                        5                        5
7                        5                        5
8                       10                       10
9                       10                       10
10                      10                       10
11                      10                       10
12                      10                       10
13                      15                       15
14                      15                       15
15                      15                       15
16                      15                       15
17                      15                       15
18                      20                       20
19                      20                       20
20                      20                       20

In [29]:
df2 = df2[['Out Calls Attempted cu']].sub(df2['In Calls Established cu'], axis = 0)
df2

    Out Calls Attempted cu
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0
11                       0
12                       0
13                       0
14                       0
15                       0
16                       0
17                       0
18                       0
19                       0
20                       0